.skill__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

}
.skill__container > div{
    /* background-color: brown; */
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid rgba(192, 188, 188, 0.626);
    transition: all ease-in-out 400ms;
}

.skill__container > div:hover{
    background: transparent;
    border-color: black;

}


.skill__container > div h3{
       text-align: center;
       margin-bottom: 2rem;
       color: rgb(126, 123, 123);
       font-weight: 600;
}

.skill__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.skill__details {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.msk{
    color: black;
    letter-spacing: 1px;
    position: relative;
    cursor: pointer;
}

.msk::after{
  content:"";
  margin-left: 44.7rem;
  border-radius: 2px;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 105px;
  height: 4px;
  background-color: #000;
  transform: scaleX(0); 
  transition: all ease 500ms;
}
.msk:hover::after{
  transform: scaleX(1);
}


@media screen and (max-width : 1024px){
   .skill__container{
    grid-template-columns: 1fr;
   }
   .skill__container > div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
   }
   .skill__content{
    padding: 1rem;
   }

}

@media screen and (max-width : 600px){
   .skill__container{
    gap: 1rem;
   }
   
}
























